# Project spaces
.Rproj.user
.Rhistory
.Rdata
.vscode
*.code-workspace
*.Rproj

# Authentication
.httr-oauth

# System files
.DS_Store

# Project directories
_*
swirl_temp/
Test_course/

# ------------------------
TODO*
*/outline.R
